body {
    font-family: Arial, sans-serif;
    background: #fff4e9;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.title {
    color: #ff6a28;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card {
    background: #ffe9d6;
    border-radius: 20px;
    padding: 30px;
    width: 450px;
    margin: auto;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.pokemon-img {
    width: 220px;
    margin-bottom: 20px;
}

.info-title {
    color: #ff6a28;
    font-size: 24px;
    margin-bottom: 20px;
    border-top: 3px solid #ff6a28;
    padding-top: 10px;
}

.info-box {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.info label {
    font-weight: bold;
    color: #ff6a28;
}

.info p {
    background: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 5px;
}

.type {
    background: #ff9ce6;
    color:
