body {
    font-family: Arial, sans-serif;
    background: #ffe9d6;
    text-align: center;
    margin: 0;
    padding: 0;
}

.title {
    margin-top: 20px;
    color: #ff6a00;
    font-size: 32px;
    font-weight: bold;
}

.pokemon-card {
    background: #fff2e6;
    width: 70%;
    margin: 30px auto;
    padding: 25px;
    border-radius: 20px;
    border: 3px solid #ffa366;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.pokemon-img {
    width: 200px;
}

.info-title {
    margin-top: 15px;
    color: #ff6a00;
    font-weight: bold;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.info-box {
    background: white;
    width: 200px;
    padding: 15px;
    border-radius: 14px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    text-align: left;
}

.label {
    font-size: 12px;
    color: #ff6a00;
    font-weight: bold;
}

.type-tag {
    background: #ff7a29;
    padding: 6px 10px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    display: inline-block;
}
